@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.App {
  text-align: center;
  display: flex;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  color: #ff686b;
}

img {
  width: 600px;
  height: 150px;
  display: flex;
  justify-content: center;
  
}
li {
  list-style-type: none;
}

.navBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
  background-color: #49111c;
  height: 150px;
  width: 200px;
  color: #f7f3e3;
  text-decoration: none;
  font-size: 30px;
  margin-top: 200px;
  
}
.bannerAd{ 
  background-color: black;
  width: 200px;
}
.recipeDisplay{
  margin-left: 7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width:80%;
  
  
}

.ingList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.recipeCard {
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  justify-content: space-around;
  flex-direction: column;
  width: 150px;
  background-color: #98727bdc;
}
.recipeCard:hover {
  transform: scale(1.01);
}
.recipePreview {
  width: 120px;
}
.link {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #3c1212dc
}

.link:hover {
  transform: scale(1.02)
}

