@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.App {
  text-align: center;
  display: flex;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  color: #ff686b;
  text-align: center;
}

.logo {
  width:200px;
  margin-bottom: -150px;
}

.homePage {
  min-width: 800px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.openTitle {
  text-align: center;
  display: flex;
  justify-content: end;
  
  position: relative;
  
}
.farout {
  width: 500px;
  margin-left: auto;
  text-align: end;
  color: rgba(44, 8, 8, 0.873);
}
span {
  font-size: larger;
}
.bck {
  display: flex;
  justify-content: end;
  width: 40em;
  margin-left: 210px;
  border-radius: 50px;
  
}
.instruct {
  display: flex;
  justify-content: end;
  color: rgba(44, 8, 8, 0.873);
}
  
li {
  list-style-type: none;
}

.navBar {
  position: fixed;
  
  background-color: #49111c;
  height: 100%;
  width: 200px;
  color: #f7f3e3;
  text-decoration: none;
  font-size: 30px;
}

.linkBox {
  margin-top: 150px;
}

.link {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #3c1212dc
}

.link:hover {
  transform: scale(1.02)
}


.recipePage {
  width: 90%;
  margin-left: auto;

}

.banner {
  width: 65%;
  height: 170px;
  
}

.recipeDisplay{
  margin-left: 7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width:80%;
  
  
}

.ingList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.recipeCard {
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  justify-content: space-around;
  flex-direction: column;
  width: 150px;
  background-color: #98727bdc;
}
.recipeCard:hover {
  transform: scale(1.01);
}
.recipePreview {
  width: 120px;
}

.detailHeader img{
  width: 40em;
  height: 20em;
  object-fit: cover;
  margin-left: 210px;
  margin-top: 20px;
}

.recipeInfo {
  width: 40em;
  margin: 0 auto;
  margin-left: 210px;
  text-align: center;
}

.ingList {
  margin-left: auto;
  margin-right: auto;
}